#header {
    --text: #000;
    --text-inverse: #000;
    --background: transparent;
}

#header.nav-scrolled {
    --text: #000;
    --text-inverse: #fff;
    --background: #fff;
}

#header.nav-scrolled .contain-nav {
    background-color: var(--background);
}

/* --------Hero------- */

.hero-identity {
    margin: 6rem 1rem 2rem;
}

.hero-identity .text-content {
    text-align: center;
    max-width: 600px;
    padding: 1rem;
    margin: auto;
}

.hero-identity h2 {
    margin: 1.5rem;
    font-size: 2rem;
}



/* --------Values------- */

.values-background {
    background-image: url(images/hero-2.jpg);
    background-size: cover;
    background-position: 50% 100%;
    height: 80vh;
}

.values-container {
    color: var(--background);
    position: relative;
    top: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}

.value-text {
    width: 325px;
    margin: 1rem;
}

.value-text h3 {
    margin-bottom: 1.5rem;
}



/* --------Carbon Footprint------- */

.contain-footprint {
    display: flex;
    align-items: center;
}

.contain-footprint .box-image {
    text-align: center;
}

.contain-footprint img {
    width: 100%;
    max-width: 525px;
    padding: 2rem;
}

.contain-footprint .text-contain {
    margin: 1rem;
    max-width: 400px;
}

.flex-box {
    display: flex;
    align-items: center;
}

.box-text,
.box-image {
    width: 50%;
}

/* --------Contact------- */

.contain-contact {
    display: flex;
    align-items: center;
}

.contain-contact img {
    width: 100%;
    max-width: 650px;
    padding: 2rem;
}

.contain-contact .text-contain {
    margin: 2rem;
    max-width: 300px;
}

.contain-contact .box-text{
    display: flex;
    justify-content: center;
}

.box-text,
.box-image {
    width: 50%;
}

/* ----------Responsiveness------- */

@media only screen and (max-width: 720px) {
    .values-container {
        flex-wrap: wrap;
        align-items: center;
        top: 0;
    }
    .contain-footprint {
        flex-wrap: wrap-reverse;
        align-items: center;
        top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .contain-contact {
        flex-wrap: wrap;
    }

    .box-text,
    .box-image {
        width: 100%;
    }

    .box-text{
        padding: 2rem 2rem 1rem;
    }
}