/* --------Hero Section------- */

.hero-section {
    height: 600px;
    background-image: url(images/hero.jpg);
    background-position: 50% 50%;
    position: relative;
}

.hero-section h1 {
    color: #fff;
    position: absolute;
    bottom: 3%;
    left: 10%;
}

/* ---------Page Content------- */

.page-content {
    color: #000;
}

.page-content-dark {
    background-color: #000;
    padding: 3rem 1rem;
}

.flex-box {
    display: flex;
    align-items: center;
}

.box-text,
.box-image {
    width: 50%;
}

/* -------Services Section------- */

.contain-services {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.contain-services .box-image {
    padding: 0 1rem;
    text-align: center;
}

.contain-services img {
    width: 100%;
    max-width: 400px;
}

.text-contain {
    width: 80%;
    margin: 1rem auto;
}

.text-contain h1 {
    font-size: 3rem;
}

.text-contain button {
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border: none;
}

/* -------Samples Section------- */

.contain-samples {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contain-samples .box-image {
    padding: 0 1rem;
}

.contain-samples img {
    width: 100%;
    padding: 2rem 1rem;
}

.contain-samples .text-contain h2 {
    font-size: 2rem;
}

.contain-samples .text-contain p {
    margin: 0 auto 1rem;
    text-align: justify;
}

/* -------Contact Section------- */

.contain-contact {
    display: flex;
    align-items: center;
}

.contain-contact img {
    width: 100%;
    padding: 2rem;
}

.contain-contact .text-contain {
    margin: 1rem auto;
}


/* --------Testimonials------- */

.client-stories h1 {
    margin: 3rem 0;
}

.client-stories p {
    margin: 1rem 0;
}

.client-stories span {
    font-weight: lighter;
}

/* --------Responsiveness------- */


@media only screen and (max-width: 900px) {
    .contain-services h1 {
        font-size: 2rem;
    }

    .contain-services p {
        margin-top: 0;
    }

    .contain-samples .text-contain h2 {
        font-size: 1.5rem;
    }

    .contain-samples p {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .contain-services h1 {
        font-size: 1.5rem;
    }
    .contain-services img {
        padding: 1rem;
    }

    .contain-samples .text-contain {
        margin: 1rem auto;
    }

    .contain-samples .text-contain h2 {
        font-size: 1.2rem;
    }

    .contain-samples p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {
    .contain-services p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 500px) {
    .contain-services {
        flex-wrap: wrap;
    }

    .contain-services h1 {
        font-size: 2rem;
    }

    .contain-samples {
        flex-wrap: wrap-reverse;
    }
    .contain-samples .text-contain h2{
        font-size: 1.7rem;
    }

    .contain-contact {
        flex-wrap: wrap;
    }

    .box-image,
    .box-text {
        width: 100%;
    }
}