* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}

body {
    /* background-color: var(--main); */
    color: var(--primary);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

:root {
    --primary: #fff;
    --secondary: #324E6E;
    --main: #263f5b;
}


/* --------Header Navigation-------- */
#header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
    height: 10vh;
}

nav {
    display: flex;
    /* background-color: var(--main); */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
}

.logo-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    width: 60%;
}

/* -------------Burger------------ */

.row-burger {
    position: relative;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-icon {
    width: 40px;
    height: 3px;
    /* background: var(--primary); */
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1.5px;
    background: #fff;
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-6px);
    background: #fff;
}

.burger-icon::after {
    transform: translateY(6px);
    background: #fff;
}

/* ----------Burger-Animation--------- */

.row-burger.open {
    overflow: visible;
}

.row-burger.open .burger-icon {
    background: transparent;
    box-shadow: none;
}

.row-burger.open .burger-icon::before {
    transform: rotate(-135deg) translate(0, 0);
}

.row-burger.open .burger-icon::after {
    transform: rotate(135deg) translate(0, 0);
}


/* ----------Drop Menu----------- */

.drop-menu {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.drop-menu.open {
    margin: 0;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: #324E6E; */
    overflow: hidden;
    padding: 0.5rem;
}

.drop-menu ul {
    list-style: none;
}

.drop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drop-menu.open drop-list {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.drop-list a {
    color: var(--primary);
    font-size: 1rem;
    text-decoration: none;
}

.drop-list li {
    text-align: center;
    padding: 0.35rem;
}

.drop-list li.open::after {
    content: '';
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 5px;
    width: 60px;
    height: 2px;
}





/* --------Hero Section------- */

.hero-section{
    height: 600px;
    background-image: url(images/hero.jpg);
    background-position: 50% 50%;
}
.hero-section h1{
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 10%;
}


@media only screen and (max-width: 1030px) {
    .row-burger{
        display: flex;
    }

    .drop-menu{
        height: 0;
        overflow: hidden;
    }

}